.section-wrapper {
    display: flex;
    max-width: 1440px;
    height: 100%;
    border: 2px solid;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    background-color: whitesmoke;
}