@import '../Settings/Settings.scss';
@import '../AuthPages/Signup.scss';
@import '../AuthPages/Login.scss';
@import '../Home/Home.scss';
@import '../ErorrPage/Error.scss';
@import '../Section/Section.scss';
@import '../LeftSide/LeftSide.scss';
@import '../Center/Center.scss';
@import '../RightSide/RightSide.scss';

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}