// Globals
@import './Variables.scss';

// Homepage
@import '../Home/Home.scss';
@import '../Home/LeftSide.scss';
@import '../Home/Center.scss';
@import '../Home/RightSide.scss';

// Settings Page
@import '../Settings/Settings.scss';

// Authentication Pages
@import '../AuthPages/Signup.scss';
@import '../AuthPages/Login.scss';

// Error Page
@import '../Error/Error.scss';

// ?????
@import '../Section/Section.scss';

// people
@import '../People/People.scss';


body {
	width: 100%;
	height: 100vh;
	margin: 0;
}
